<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista y formulario de proyectos.</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="fragmentos/navbar :: navbar"></div>

<h1>Proyectos:</h1>
<ul>
    <li th:each="Proyecto : ${proyectos}">
        <span th:text="${Proyecto.nombre}"></span> -
        <span th:text="${Proyecto.descripcion}"></span>
        <span th:text="${Proyecto.creador}"></span>
    </li>
</ul>
<h2>Agregar Proyecto:</h2>
<form method="post" action="#" th:action="@{/add}" th:object="${proyecto}">
    <div>
        <label>Nombre:</label>
        <input type="text" name="nombre" />
    </div>
    <div>
        <label>Descripción:</label>
        <input type="text" name="descripcion" />
    </div>
    <div>
        <label>Creador:</label>
        <input type="text" name="creador" />
    </div>

    <button type="submit">Guardar</button>
</form>
</body>
</html>
